src/jsource/io/localization/bundles/XMLResourceBundle.DTD

<!ELEMENT RESOURCE (RES*,LANGUAGE?)>
<!ELEMENT LANGUAGE (RES*,COUNTRY?)>
<!ATTLIST LANGUAGE name CDATA #REQUIRED>
<!ELEMENT COUNTRY (RES*,VARIANT?)>
<!ATTLIST COUNTRY name CDATA #REQUIRED>
<!ELEMENT VARIANT (RES*)>
<!ATTLIST VARIANT name CDATA #REQUIRED>
<!ELEMENT RES (#PCDATA)>
<!ATTLIST RES key CDATA #REQUIRED type CDATA #REQUIRED>
